@using Meine_Aufgabenliste.Models.Enums
@using Meine_Aufgabenliste.Models.Extensions
@model Meine_Aufgabenliste.Models.ToDo
@{ 
    var toDo = ViewBag.toDo as ToDo; 
    var alleKategorien = Enum.GetValues(typeof(Kategorie)).Cast<Kategorie>();
    var alleSchluesselwoerter = Enum.GetValues(typeof(Schluesselwort)).Cast<Schluesselwort>();
    var alleVerantwortlichen = Enum.GetValues(typeof(Verantwortlich)).Cast<Verantwortlich>();
}

<!-- Formular mit allen Einträgen für neues ToDo -->
<form asp-action="UpdateToDo" method="post" class="needs-validation" novalidate>
    <div class="card text-center container bg-dark">
        <div class="card-header bg-dark mb-3 mt-3">
            <div class="row">
                <div class="col align-self-start">
                    <div class="form-floating">
                        <select class="form-select" name="Kategorie" id="Kategorie" aria-label="Floating label select example" required>
                            <option selected disabled value="">Bitte auswählen</option>
                            <option selected value="@toDo.Kategorie">@toDo.Kategorie</option>
                            @{
                                foreach(var kategorie in alleKategorien) {
                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                    if (kategorie.Equals(toDo.Kategorie)) continue;

                                    <option value="@kategorie">@kategorie</option>
                                }
                            }
                        </select>
                        <label for="Kategorie">Kategorie</label>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="form-floating">
                        <select class="form-select" name="Schluesselwort" id="Schluesselwort" aria-label="Floating label select example" required>
                            <option disabled value="">Bitte auswählen</option>
                            <option selected value="@toDo.Schluesselwort">@toDo.Schluesselwort</option>
                            @{
                                foreach (var schluesselwort in alleSchluesselwoerter) {
                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                    if (schluesselwort.Equals(toDo.Schluesselwort)) continue;

                                    <option value="@schluesselwort">@schluesselwort</option>
                                }
                            }
                        </select>
                        <label for="Schluesselwort">Schlüsselwort</label>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="form-floating">
                        <input readonly type="number" class="form-control" name="Id" id="Id" placeholder="Id" value="@toDo.Id" required />
                        <label for="Id">Id</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-dark bg-gradient mb-3">
            <div class="form-floating">
                <input class="form-control mb-3" placeholder="Aufgabe" name="Aufgabe" id="Aufgabe" required value="@toDo.Aufgabe"/>
                <label for="Aufgabe">Aufgabe</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control mb-3" placeholder="Beschreibung" name="Beschreibung" id="Beschreibung" style="height: 100px" required>@toDo.Beschreibung</textarea>
                <label for="Beschreibung">Beschreibung</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Lösung" name="Loesung" id="Loesung" style="height: 100px">@toDo.Loesung</textarea>
                <label for="Loesung">Lösung</label>
            </div>
        </div>
        <div class="card-footer text-muted container bg-dark mb-3">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" name="Verantwortlich" id="Verantwortlich" aria-label="Floating label select example" required>
                            <option selected disabled value="">Bitte auswählen</option>
                            <option selected value="@toDo.Verantwortlich">@toDo.Verantwortlich</option>
                            @{
                                foreach (var verantwortlicher in alleVerantwortlichen) {
                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                    if (verantwortlicher.Equals(toDo.Verantwortlich)) continue;

                                    <option value="@verantwortlicher">@verantwortlicher</option>
                                }
                            }
                        </select>
                        <label for="Verantwortlich">Verantwortlich</label>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success" tabindex="1">Speichern</button>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" name="Status" id="Status" aria-label="Floating label select example" required>
                            <option selected disabled value="">@toDo.Status</option>
                            <option value="Offen">Offen</option>
                            <option value="in Bearbeitung">in Bearbeitung</option>
                            <option value="Wartend">Wartend</option>
                            <option value="Abgeschlossen">Abgeschlossen</option>
                            <option value="Archiv">Archiv</option>
                        </select>
                        <label for="Status">Status</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/Validierung.js"></script>