@model List<Meine_Aufgabenliste.Models.ToDo>

@{
    ViewData["Title"] = "Meine Aufgabenliste";
}

<title>@ViewData["Title"] - Meine Aufgabenliste</title>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-5">Offene Aufgaben</h1>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-light table-hover table-bordered">
        <thead class="table-danger">
            <tr>
                <th>Id</th>
                <th>Kategorie</th>
                <th>Schlüsselwort</th>
                <th>Aufgabe</th>
                <th>Beschreibung</th>
                <th>Lösung</th>
                <th>Verantwortlich</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var toDo in ViewBag.ToDos) {
                <tr>
                    <td>@toDo.Id</td>
                    <td>@toDo.Kategorie</td>
                    <td>@toDo.Schluesselwort</td>
                    <td>@toDo.Aufgabe</td>
                    <td>@toDo.Beschreibung</td>
                    <td>@toDo.Loesung</td>
                    <td>@toDo.Verantwortlich</td>
                    <td>@toDo.Status</td>
                    <td>
                        <div class="col mb-2">
                            <div class="d-flex">
                                <form asp-action="EditToDo" asp-route-id="toDo.Id" class="me-2">
                                    <button class="btn btn-secondary" type="submit">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </form>
                                <form asp-action="DeleteToDo" asp-route-id="toDo.Id">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col offset-6 mb-3"
                <form asp-action="CreateToDo">
                    <a href="@Url.Action("CreateToDo", "Offen")" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>