@model ToDo

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
<!-- Formular mit allen Einträgen für neues ToDo -->
<form asp-action="CreateToDo" method="post" class="needs-validation" novalidate>
    <div class="card text-center container bg-dark">
        <div class="card-header bg-dark mb-3 mt-3">
            <div class="row">
                <div class="col align-self-start">
                    <div class="form-floating">
                        <select asp-for="KategorieId" class="form-select" id="Kategorie" aria-label="Floating label select example" required>
                            <option selected disabled value="">Bitte auswählen</option>
                            @{
                                foreach (var kategorie in ViewBag.Kategorien) {
                                    <option value="@kategorie.Id">@kategorie.Name</option>
                                }
                            }
                        </select>
                        <label for="Kategorie">Kategorie</label>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="form-floating">
                        <select asp-for="SchluesselwortId" class="form-select" id="Schluesselwort" aria-label="Floating label select example" required>
                            <option selected disabled value="">Bitte auswählen</option>
                            @{
                                foreach (var schluesselwort in ViewBag.Schluesselwoerter) {
                                    <option value="@schluesselwort.Id">@schluesselwort.Name</option>
                                }
                            }
                        </select>
                        <label for="Schluesselwort">Schlüsselwort</label>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="form-floating">
                        <input asp-for="Id" readonly type="number" class="form-control" id="Id" placeholder="Id" value="@ViewBag.nextId" required />
                        <label for="Id">Id</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-dark bg-gradient mb-3">
            <div class="form-floating">
                <input asp-for="Aufgabe" class="form-control mb-3" placeholder="Aufgabe"id="Aufgabe" required autocomplete="off" />
                <label for="Aufgabe">Aufgabe</label>
            </div>
            <div class="form-floating">
                <textarea asp-for="Beschreibung" class="form-control mb-3" placeholder="Beschreibung" id="Beschreibung" required autocomplete="off"></textarea>
                <label for="Beschreibung">Beschreibung</label>
            </div>
            <div class="form-floating">
                <textarea asp-for="Loesung" class="form-control" placeholder="Lösung" id="Loesung" autocomplete="off"></textarea>
                <label for="Loesung">Lösung</label>
            </div>
        </div>
        <div class="card-footer text-muted container bg-dark mb-3">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <select asp-for="VerantwortlicherId" class="form-select" id="Verantwortlicher" aria-label="Floating label select example" required>
                            <option selected disabled value="">Bitte auswählen</option>
                            @{
                                foreach (var verantwortlicher in ViewBag.Verantwortliche) {
                                    <option value="@verantwortlicher.Id">@verantwortlicher.Name</option>
                                }
                            }
                        </select>
                        <label for="Verantwortlicher">Verantwortlicher</label>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success" tabindex="1">Speichern</button>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select asp-for="StatusId" class="form-select" id="Status" aria-label="Floating label select example" required>
                            <option selected disabled value="">Bitte auswählen</option>
                            @{
                                foreach (var status in ViewBag.Status) {
                                    <option value="@status.Id">@status.Name</option>
                                }
                            }
                        </select>
                        <label for="Status">Status</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/Validierung.js"></script>
