@model ToDo
@{
    var toDo = ViewBag.ToDo;
    var kategorien = ViewBag.Kategorien;
    var schluesselwoerter = ViewBag.Schluesselwoerter;
    var verantwortliche = ViewBag.Verantwortliche;
    var status = ViewBag.Status;
}

<!-- Formular mit allen Einträgen für neues ToDo -->
<form asp-action="UpdateToDo" method="post" class="needs-validation" novalidate>
    <div class="card text-center container bg-dark">
        <div class="card-header bg-dark mb-3 mt-3">
            <div class="row">
                <div class="col align-self-start">
                    <div class="form-floating">
                        <select class="form-select" name="Kategorie" id="Kategorie" aria-label="Floating label select example" required>
                            <option selected disabled value="">Bitte auswählen</option>
                            <option selected value="@toDo.Kategorie.Id">@toDo.Kategorie.Name</option>
                            @{
                                foreach(var kategorie in kategorien) {
                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                    if (kategorie.Id == toDo.Kategorie.Id) continue;

                                    <option value="@kategorie.Id">@kategorie.Name</option>
                                }
                            }
                        </select>
                        <label for="Kategorie">Kategorie</label>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="form-floating">
                        <select class="form-select" name="Schluesselwort" id="Schluesselwort" aria-label="Floating label select example" required>
                            <option disabled value="">Bitte auswählen</option>
                            <option selected value="@toDo.Schluesselwort.Id">@toDo.Schluesselwort.Name</option>
                            @{
                                foreach (var schluesselwort in schluesselwoerter) {
                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                    if (schluesselwort.Id == toDo.Schluesselwort.Id) continue;

                                    <option value="@schluesselwort.Id">@schluesselwort.Name</option>
                                }
                            }
                        </select>
                        <label for="Schluesselwort">Schlüsselwort</label>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="form-floating">
                        <input readonly type="number" class="form-control" name="Id" id="Id" placeholder="Id" value="@toDo.Id" required />
                        <label for="Id">Id</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-dark bg-gradient mb-3">
            <div class="form-floating">
                <input class="form-control mb-3" placeholder="Aufgabe" name="Aufgabe" id="Aufgabe" required value="@toDo.Aufgabe"/>
                <label for="Aufgabe">Aufgabe</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control mb-3" placeholder="Beschreibung" name="Beschreibung" id="Beschreibung" style="height: 100px" required>@toDo.Beschreibung</textarea>
                <label for="Beschreibung">Beschreibung</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Lösung" name="Loesung" id="Loesung" style="height: 100px">@toDo.Loesung</textarea>
                <label for="Loesung">Lösung</label>
            </div>
        </div>
        <div class="card-footer text-muted container bg-dark mb-3">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" name="Verantwortlich" id="Verantwortlich" aria-label="Floating label select example" required>
                            <option disabled value="">Bitte auswählen</option>
                            <option selected value="@toDo.Verantwortlicher.Id">@toDo.Verantwortlicher.Name</option>
                            @{
                                foreach (var verantwortlicher in verantwortliche) {
                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                    if (verantwortlicher.Id == toDo.Verantwortlicher.Id) continue;

                                    <option value="@verantwortlicher.Id">@verantwortlicher.Name</option>
                                }
                            }
                        </select>
                        <label for="Verantwortlich">Verantwortlich</label>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success" tabindex="1">Speichern</button>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" name="Status" id="Status" aria-label="Floating label select example" required>
                            <option disabled value="">Bitte auswählen</option>
                            <option selected value="@toDo.Status.Id">@toDo.Status.Name</option>
                            @{
                                foreach (var this_status in status) {
                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                    if (this_status.Id == toDo.Status.Id) continue;

                                    <option value="@this_status.Id">@this_status.Name</option>
                                }
                            }
                        </select>
                        <label for="Status">Status</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/Validierung.js"></script>