@model List<Meine_Aufgabenliste.Models.ToDo>

@{
    ViewData["Title"] = "Meine Aufgabenliste";
    var alleVerantwortlichen = Enum.GetValues(typeof(Verantwortlicher)).Cast<Verantwortlicher>();
    var alleStati = Enum.GetValues(typeof(Status)).Cast<Status>();
}

<title>@ViewData["Title"] - Meine Aufgabenliste</title>
<body class="bg-secondary bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">Offene Aufgaben</h1>
            </div>
        </div>
    </div>

    <!-- Button um neues ToDo zu erstellen-->
    <div class="container mb-3">
        <div class="row">
            <div class="col align-self-center"
                <form>
                    <a asp-action="CreateEditTodo" asp-controller="Offen" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var toDo in ViewBag.ToDos) {
            <div class="col mb-4">
                <form asp-action="CreateEditToDo" method="post">
                    <div class="card h-100 shadow border-secondary">
                        <div class=" card-header text-muted bg-danger bg-gradient">
                            <div class="row text-light">
                                <div class="col text-start">
                                    <small><i># @toDo.Id</i></small>
                                </div>
                                <div class="col text-start">
                                    <small><i>@toDo.Schluesselwort</i></small>
                                </div>
                                <div class="col text-end">
                                    <small><i>@toDo.Kategorie</i></small>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-light bg-gradient">
                            <h5 class="card-title">
                                <div class="row">
                                    <div class="col-10">
                                        <u>@toDo.Aufgabe</u>
                                    </div>
                                    <div class="col text-end">
                                        <button type="submit" class="btn btn-secondary btn-sm">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </div>

                                </div>
                            </h5>
                            <p class="card-text">@toDo.Beschreibung</p>
                            <hr><p class="card-text">@toDo.Loesung</p>
                        </div>
                        <div class="card-footer bg-dark bg-gradient">
                            <div class="row">
                                <div class="col">
                                    <small class="text-muted">
                                        <select class="form-select editable" name="Verantwortlich" id="Verantwortlich">
                                            <option hidden selected value="@toDo.Verantwortlich">@toDo.Verantwortlich</option>
                                            <option value="Emilia">Emilia</option>
                                            <option value="Lukas">Lukas</option>
                                        </select>
                                    </small>
                                </div>
                                <div class="col">
                                    <small class="text-muted">
                                        <select class="form-select editable" name="Status" id="Status_Id">
                                            <option disabled value="">Bitte auswählen</option>
                                            <option selected value="@toDo.Status">@toDo.Status</option>
                                            @{
                                                foreach (var status in alleStati) {
                                                    // überspringe gespeicherten Wert, um Dopplung zu verhindern
                                                    if (status.Equals(toDo.Status))
                                                        continue;
                                                    <option value="@status">@status</option>
                                                }
                                            }
                                        </select>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Versteckte Eingabefelder, damit die Daten per POST-Methode gesendet werden -->
                    <input type="hidden" name="Id" value="@toDo.Id" />
                    <input type="hidden" name="Kategorie" value="@toDo.Kategorie" />
                    <input type="hidden" name="Schluesselwort" value="@toDo.Schluesselwort" />
                    <input type="hidden" name="Aufgabe" value="@toDo.Aufgabe" />
                    <input type="hidden" name="Beschreibung" value="@toDo.Beschreibung" />
                    <input type="hidden" name="Loesung" value="@toDo.Loesung" />
                    <input type="hidden" name="Schluesselwort" value="@toDo.Schluesselwort" />
                </form>
            </div>
        }
    </div>
</body>