@model List<ToDo>

@{
    ViewData["Title"] = "Meine Aufgabenliste";
    var color = ViewBag.Color;
    /*if (ViewBag.ToDos.Status.Name == "Offen") {
        color = "danger";
    }
    else if (ViewBag.ToDos.Status.Name == "in Bearbeitung") {
        color = "warning";
    }*/
    var textcolor = "light";
    if (color == "warning" || color == "light") {
        textcolor = "dark";
    }
}

<title>@ViewData["Title"] - Meine Aufgabenliste</title>
<body class="bg-secondary bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">Offene Aufgaben</h1>
            </div>
        </div>
    </div>

    <!-- Button um neues ToDo zu erstellen-->
    <div class="container mb-5">
        <div class="row">
            <div class="col-4 align-self-center">
                <form>
                    <a asp-controller="ToDos" asp-action="CreateTodo" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i> Neues ToDo erstellen
                    </a>
                </form>
            </div>
            <!-- Suchfunktion -->
            <div class="col align-self-center">
                <form asp-controller="ToDos" asp-action="ZeigeSuchergebnisse" method="get">
                    <div class="row">
                        <div class="col input-group">
                            <i class="bi bi-search input-group-text"></i>
                            <input type="search" class="form-control" name="suchbegriff" placeholder="Wonach suchst du?" required />
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Suchen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Erstelle ein Card-Objekt für jedes einzelne ToDo -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        @foreach (var toDo in ViewBag.ToDos) {
            <div class="col mb-4">
                <form asp-controller="ToDos" asp-action="EditToDo" method="post">
                    <div class="card h-100 shadow border-secondary">
                        <div class="card-header text-muted bg-@color bg-gradient">
                            <div class="row text-@textcolor">
                                <div class="col text-start">
                                    <small><i># @toDo.Id</i></small>
                                </div>
                                <div class="col text-start">
                                    <small><i>@toDo.Schluesselwort.Name</i></small>
                                </div>
                                <div class="col text-end">
                                    <small><i>@toDo.Kategorie.Name</i></small>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-light bg-gradient">
                            <h5 class="card-title">
                                <div class="row">
                                    <div class="col-10">
                                        <u>@toDo.Aufgabe</u>
                                    </div>
                                    <div class="col text-end">
                                        <button type="submit" class="btn btn-secondary btn-sm">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </div>
                                </div>
                            </h5>
                            <p class="card-text">@toDo.Beschreibung</p>
                            <hr>
                            <p class="card-text">@toDo.Loesung</p>
                        </div>
                        <div class="card-footer bg-dark bg-gradient">
                            <div class="row">
                                <div class="col">
                                    <small class="text-muted">
                                        Verantwortlicher:
                                        <select class="form-select editable" name="Verantwortlich" id="Verantwortlich">
                                            <option hidden selected value="@toDo.VerantwortlicherId">@toDo.Verantwortlicher.Name</option>
                                            @foreach (var verantwortlicher in ViewBag.Verantwortliche) {
                                                <option value="@verantwortlicher.Id">@verantwortlicher.Name</option>
                                            }
                                        </select>
                                    </small>
                                </div>
                                <div class="col">
                                    <small class="text-muted">
                                        Status:
                                        <select class="form-select editable" name="Status" id="Status_Id">
                                            <option disabled value="">Bitte auswählen</option>
                                            <option selected value="@toDo.StatusId">@toDo.Status.Name</option>
                                            @foreach (var status in ViewBag.Status) {
                                                <option value="@status.Id">@status.Name</option>
                                            }
                                        </select>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Versteckte Eingabefelder, damit die Daten per POST-Methode beim Editieren übernommen werden -->
                    <input type="hidden" name="Id" value="@toDo.Id" />
                    <input type="hidden" name="Kategorie" value="@toDo.KategorieId" />
                    <input type="hidden" name="Schluesselwort" value="@toDo.SchluesselwortId" />
                    <input type="hidden" name="Aufgabe" value="@toDo.Aufgabe" />
                    <input type="hidden" name="Beschreibung" value="@toDo.Beschreibung" />
                    <input type="hidden" name="Loesung" value="@toDo.Loesung" />
                    <input type="hidden" name="Schluesselwort" value="@toDo.Schluesselwort.Name" />
                </form>
            </div>
        }
    </div>
</body>
